/* eionet custom style */

body {
  font-size: 16px;
  font-weight: normal;
  color: @text-color;
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


// HEADINGS

h1 {
  font-size: 36px;
  font-weight: 600;
  color: @blue-color;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-weight: 600;
}

a {
  color: @blue-color;

  &:hover {
    color: @orange-color;
  }
}


ul {
  li {
    a:hover {
      text-decoration: none;
    }
  }
}

.outer-wrapper {
  flex: 1 0 auto;
}

#main-container {
  margin-top: 1.5em;
}


#content-core {
  a {
    border-bottom: none;
    font-weight: 600;
  }
  i.glyphicon {
    font-size: 80%;
  }
}

.documentFirstHeading {
  border-bottom: none;
}

.pat-autotoc.autotabs .autotoc-nav a.active,
.autotabs .autotoc-nav a.active {
  color: @green-color;
}

.documentByLine,
.tileFooter a {
  font-size: 14px;
}

.pat-structure {
  .pagination {
    li {
      a,
      span {
        color: @blue-color;
      }
      a:hover {
        color: @orange-color;
      }
    }
  }
  .itemRow,
  .itemRow.folder {
    .title a {
      color: @blue-color;

      &:hover {
        color: @orange-color;
        text-decoration: none;
      }
    }
  }
}

.pat-structure .pagination>.active>a {
  background-color: @blue-color;
}


// PORTLETS

.portlet {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  padding-bottom: 10px;

  .portletHeader {
    color: @text-color;
    background: none;
    font-size: 20px;
    font-weight: 600;
    padding: 0;
    padding-bottom: 10px;

    >a {
      color: @text-color;
      font-weight: 600;
      padding: 0;
      // padding-bottom: 10px;

      &:hover {
        color: @orange-color;
        text-decoration: none;
      }
    }
  }

  .portletContent {
    border: none;
    font-size: 14px;

    a:hover {
      text-decoration: none;
    }

    ul {
      .portletItemDetails {
        padding: 0;
        margin-top: -9px;
      }

      li {
        a {
          padding: 10px 0;
          color: @blue-color;
          border-top: none;

          &:hover {
            background: none;
            color: @orange-color;
          }
          &:hover::before {
            color: @orange-color;
          }
          &:hover::after {
            content: '';
          }
          &:focus {
            text-decoration: none;
          }
        }

        &:hover {
          background: none;
        }
      }
    }

    > *,
    > div:not(.portalMessage) {
      padding: 10px 0;
    }
  }

  .portletFooter {
    box-shadow: none;
    background: none;
    border: none;
    padding: 10px 0;
  }
}

.portletNavigationTree {
  nav.portletContent {
    .navTreeLevel1 > li {
      a {
        padding-left: 15px;
      }
    }

    >.navTree {
      >li.navTreeItemInPath {
        >a {
          font-weight: 600;
        }
      }
    }

    .navTree {
      a:before {
        font-family: 'Glyphicons Halflings';
        font-size: 80%;
        margin-right: 0;
        top: 1px;
      }
      a.navTreeFolderish:before {
        content:"\e258";
      }
      a.contenttype-link:before {
        content:"\e164";
      }
    }

    .navTreeCurrentNode {
      >a {
        background: none;
        color: @green-color;
        font-weight: 600;

        &:after {
          content: '';
        }
      }
    }
    > ul {
      > li a {
        padding: 0.6em 0;
        background: none;
      }
      >li:last-child {
        a {
          padding-bottom: 0;
        }
      }
    }
  }
}

.managedPortletActions {
  float: none;
  display: block;
  margin-top: 10px;
}

i.glyphicon {
  padding-right: 0.3em;
}


// TABLES

table {
  border-left: none;
  border-right: none;
  border-radius: 0;
  word-break: break-all;
  margin: 1em 0;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      th {
        padding: 0.8em 0.6em;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
      }
      td {
        padding: 0.6em;
        border: 1px solid #ddd;
      }

      th:first-child,
      td:first-child {
        border-left: 1px solid transparent;
      }
      th:last-child,
      td:last-child {
        border-right: 1px solid transparent;
      }
    }
  }
}

@media (max-width: 480px) {
  table {
    table-layout: fixed;
  }
}


.alert.status,
.portalMessage {
  margin-top: 20px;
}

[class*="contenttype-"]::before,
.contenttype-file #crud-edit-File-widgets-view_title::before {
  margin-right: 3px;
  width: auto;
  height: auto;
}


i.link-https:after,
i.link-external:after {
  content:"\e164";
}

#portal-sitemap {
  ul {
    li {
      &:before {
        content: '';
      }
    }
  }
}

@media (min-width: 992px) {
  // Reduce the portlets width
  #main-container {
    .col-md-3 {
      width: 20%;
    }
    .col-md-push-3 {
      left: 20%;
    }
    .col-md-pull-6 {
      right: 60%;
    }
    .col-md-6 {
      width: 60%;
    }
    .col-md-9 {
      width: 80%;
    }
    .col-md-pull-9 {
      right: 80%;
    }
  }
}
