body {
  font-family: @font-family-base;
  line-height: @line-height-base;
  font-size: 16px;
  font-weight: normal;
  color: @text-color;
  word-wrap: break-word;
  padding: 0;
  background-color: #fff;
  height: 100vh !important;
  display: flex;
  flex-direction: column;
}

//*// Headings

h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}
h6 {font-size: 14px;}

h1, h2, h3 {
  color: @blue-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: @headings-line-height;
  a {
    color: @text-color;
  }
}


h1, h2, h3 {
  margin-top: @line-height-computed;
  margin-bottom: (@line-height-computed / 2);
}
h4, h5, h6 {
  margin-top: (@line-height-computed / 2);
  margin-bottom: (@line-height-computed / 2);
}


//*// Links

a {
  color: @blue-color;
  text-decoration: none;
  &:hover,
  &:focus {
    color: @orange-color;
    text-decoration: underline;
  }
}

//*// Body text
p { margin: 0 0 10px; }
