// BUTTONS

#form-buttons-add,
.context {
  background-color: @blue-color;
  border: 1px solid @blue-color;
  border-radius: 0;
  font-weight: 600;
  color: #fff;
}

#form-buttons-add:hover,
.context:hover {
  background-color: @orange-color;
  border: 1px solid @orange-color;
  color: #fff;
}

#form-buttons-cancel_add,
.standalone,
button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  color: @text-color;
  font-weight: 600;
  text-shadow: none;
}

#form-buttons-cancel_add:hover,
.standalone:hover,
button:hover {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: @text-color;
}
