//*// FONTS //*//

// 300 Light
.font-face(
  @font-path: 'opensans/';
	@file-name: 'open-sans-v15-latin-300';
	@font-family: 'OpenSans';
	@font-weight: 300;
	@font-style: normal;
	@svg-id: 'OpenSansLight';
  @local: ~"local('OpenSans Light'),";
);

// 300 Light Italic
.font-face(
  @font-path: 'opensans/';
	@file-name: 'open-sans-v15-latin-300italic';
	@font-family: 'OpenSans';
	@font-weight: 300;
	@font-style: italic;
	@svg-id: 'OpenSansLightItalic';
  @local: ~"local('OpenSans Light Italic'),";
);

// 400 Regular
.font-face(
  @font-path: 'opensans/';
	@file-name: 'open-sans-v15-latin-regular';
	@font-family: 'OpenSans';
	@font-weight: 400;
	@font-style: normal;
	@svg-id: 'OpenSans';
  @local: ~"local('OpenSans Regular'),";
);

// 400 Italic
.font-face(
  @font-path: 'opensans/';
	@file-name: 'open-sans-v15-latin-italic';
	@font-family: 'OpenSans';
	@font-weight: 400;
	@font-style: italic;
	@svg-id: 'OpenSansItalic';
  @local: ~"local('OpenSans Italic'),";
);

// 600 Medium
.font-face(
  @font-path: 'opensans/';
  @file-name: 'open-sans-v15-latin-600';
	@font-family: 'OpenSans';
	@font-weight: 600;
	@font-style: normal;
	@svg-id: 'OpenSansSemiBold';
  @local: ~"local('OpenSans Medium'),";
);

// 600 Medium Italic
.font-face(
  @font-path:'opensans/';
	@file-name: 'open-sans-v15-latin-600italic';
	@font-family: 'OpenSans';
	@font-weight: 600;
	@font-style: italic;
	@svg-id: 'OpenSansSemiBoldItalic';
  @local: ~"local('OpenSans Medium Italic'),";
);

// 700 Bold
.font-face(
  @font-path: 'opensans/';
	@file-name: 'open-sans-v15-latin-700';
	@font-family: 'OpenSans';
	@font-weight: 700;
	@font-style: normal;
	@svg-id: 'OpenSansBold';
  @local: ~"local('OpenSans Bold'),";
);

// 700 Bold Italic
.font-face(
  @font-path: 'opensans/';
	@file-name: 'open-sans-v15-latin-700italic';
	@font-family: 'OpenSans';
	@font-weight: 700;
	@font-style: italic;
	@svg-id: 'OpenSansBoldItalic';
  @local: ~"local('OpenSans Bold Italic'),";
);

// 300 Light Condensed (toolbar)
.font-face(
  @font-path: 'roboto/';
	@file-name: 'robotocondensed-light';
	@font-family: 'Roboto Condensed';
	@font-weight: 300;
	@font-style: normal;
	@svg-id: 'roboto_condensedlight';
  @local: ~"local('Roboto Condensed Light'),";
);

// 300 Light Condensed Italic (toolbar)
.font-face(
  @font-path: 'roboto/';
	@file-name: 'robotocondensed-lightitalic';
	@font-family: 'Roboto Condensed';
	@font-weight: 300;
	@font-style: italic;
	@svg-id: 'roboto_condensedlight_italic';
  @local: ~"local('Roboto Condensed Thin Italic'),";
);
