// FOOTER

#portal-footer-wrapper {
  background-color: @blue-color;
  padding: 1.5em 0;

  .site-actions {
    border-top: none !important;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5em;
    margin-top: 0;
  }

  .container {
    width: 100%;
  }

  .portlet .portletContent li {
    padding: 0 2em;
  }

  a {
    color: #fff;
    font-size: 16px;
    &:hover {
      color: #fff;
    }
  }

  .footer-text {
    padding-top: 1.5em;
    color: #fff;
    font-size: 14px;
    text-align: center;

    span {
      padding: 10px 30px;
      display: block;
    }

    a {
      font-size: 14px;
    }
  }
}
