// FOOTER

#portal-footer-wrapper {
  background-color: @blue-color;
  padding: 1.5em 0 0 0;

  .footer-nav-links {
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5em;

    .footer-nav {
      text-align: center;
      margin: 0;
      padding: 0;

      .footer-nav-item {
        list-style-type: none;
        display: inline-block;
        color: #fff;

        .footer-nav-link {
          font-size: 16px;
          color: #fff;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
      .footer-nav-item:not(:last-child) {
        padding-right: 1.5em;
      }
    }
  }

  .footer-bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5em;

    .footer-text {
      padding-top: 1.5em;
      color: #fff;
      text-align: center;

      span {
        padding: 0 1.5em;
        display: block;
      }

      a {
        color: #fff;
        &:hover {
          color: #fff;
          text-decoration: underline;
        }
      }
    }
    .flipped-img {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }

}

@media (max-width: 750px) {
  #portal-footer-wrapper {
    padding-bottom: 1.5em;
    .footer-bottom {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      .footer-text {
        padding-bottom: 1.5em;
      }
      .flipped-img {
        display: none;
      }
    }
  }
}

@media (max-width: 550px) {
  #portal-footer-wrapper {
    .footer-nav-links {
      .footer-nav {
        .footer-nav-item {
          display: block;
        }
        .footer-nav-item {
          padding: 0.5em;
        }
      }
    }
  }
}
