// FOOTER

#portal-footer-wrapper {
  background-color: @blue-color;
  padding: 1.5em 0;

  .site-actions {
    border-top: none !important;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.5em;
    margin-top: 0;
    ul > li {
      padding: 0;
    }
    ul > li:not(:last-child) {
      padding-right: 1.5em;
    }
  }

  .portlet .portletContent li {
    padding: 0 2em;
  }

  a {
    color: #fff;
    font-size: 16px;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .footer-text {
    padding-top: 1.5em;
    color: #fff;
    font-size: 14px;
    text-align: center;

    span {
      padding: 0 1.5em;
      display: block;
    }

    a {
      font-size: 14px;
    }
  }
}
