// HEADER

#content-header {
  border-bottom: 1px solid #ddd;

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 100% !important;

    .header-logo {
      height: 78px;
      padding-right: 15px;
      // width: 30%;
      >a {
        height: 100%;
        display: flex;
        align-items: center;
        color: #000;
        &:hover,
        &:focus {
          text-decoration: none;
        }

        #portal-logo {
          height: 100%;
          padding: 7px 0;
        }

        .logo-text {
          font-size: 18px;
          font-weight: bold;
          line-height: 1;
          white-space: nowrap;
        }
      }

      img {
        height: 100%;
        width: auto;
        margin-right: 0.6em;
      }
    }

    .header-right-section {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // width: 70%;

      .right-actions {
        display: flex;
        align-items: center;
        padding-left: 15px;
      }

      .login {
        ul {
          list-style-type: none;
          padding-left: 1em;
          margin-bottom: 5px;
          >li {
            a {
              color: #666;
              font-size: 13px;
              white-space: nowrap;
              &:hover {
                color: @orange-color;
                text-decoration: none;
              }
            }
            a:before {
              content: "\e161";
              font-family: 'Glyphicons Halflings';
              font-size: 11px;
              display: inline-block;
              margin-right: 0.5em;
              position: relative;
              top: 1px;
            }
          }
        }
      }
    }
  }

  .search-box {
    position: relative;
    width: 170px;

    input {
      border-radius: 15px;
      height: 27px;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none !important;
      color: @green-color;
      &:hover {
        box-shadow: none;
        background: none;
        border: none;
        color: @orange-color;
      }

      i {
        padding-right: 0;
        color: inherit;
        top: 0;
      }
    }
  }

  .header-container.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 8;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);

    .search-wrapper {
      display: none;
    }
  }

  .collapse-header {
    margin-top: 35px;
    position: relative;
    border-top: 1px solid #ddd;

    .right-actions {
      position: absolute;
      top: -31px;
      right: 15px;

      button {
        padding: 0;
        i {
          font-size: 14px;
          top: 5px !important;
          right: 10px;
        }
      }
      input {
        font-size: 13px;
        height: 23px;
      }
    }

    .plone-navbar-nav {
      margin-right: 0;
    }
  }
}

@media (max-width: 1280px) {
  #content-header {
    .header-container {
      .header-logo {
        width: 25%;
        height: 73px;
        a > .logo-text {
          font-size: 14px;
          white-space: normal;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  #content-header {
    .collapse-nav {
      .header-logo {
        height: 60px;
      }
    }

    .header-container {
      .logo-text {
        font-size: 13px !important;
      }
    }
  }
}

@media (max-width: 850px) {
  #content-header {
    .header-container {
      .header-logo {
        width: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .plone-toolbar-left #edit-zone {
    z-index: 99;
  }

  .right-actions {
    right: 15px !important;
  }

  #edit-zone .plone-toolbar-logo,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
    background-color: #92979a;
    border-radius: 4px;
    left: -102px;
    width: 38px;
    height: 38px;
    top: 48px;
    z-index: 9999;

    img {
      margin-top: 7px;
      right: 11px;
      position: relative;
    }
  }
}

@media (max-width: 480px) {
  #content-header {
    .header-container {
      .header-logo {
        .logo-title {
         font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #content-header {
    .header-container {
      .logo-text {
        padding: 1em 0;
        float: none;
        color: #fff;
        font-weight: bold;
        margin: 0 -15px 0;
        padding: 8px;
        background-color: @blue-color;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
