// HEADER

#content-header {
  border-bottom: 1px solid #ddd;

  .header-container {
    display: flex;
    justify-content: space-between;

    .header-logo {
      height: 78px;
      >a {
        height: 100%;
        display: flex;
        align-items: center;
        color: #000;
        &:hover,
        &:focus {
          text-decoration: none;
        }

        #portal-logo {
          height: 100%;
          padding: 7px 0;
        }

        .logo-text {
          font-size: 18px;
          font-weight: bold;
          line-height: 1;
        }
      }

      img {
        height: 100%;
        width: auto;
        margin-right: 0.6em;
      }
    }

    .header-right-section {
      display: flex;
      align-items: center;

      .login {
        ul {
          list-style-type: none;
          padding-left: 1em;
          margin-bottom: 5px;
          >li {
            a {
              color: #666;
              font-size: 13px;
              &:hover {
                color: @orange-color;
                text-decoration: none;
              }
            }
            a:before {
              content: "\e161";
              font-family: 'Glyphicons Halflings';
              font-size: 11px;
              display: inline-block;
              margin-right: 0.5em;
              position: relative;
              top: 1px;
            }
          }
        }
      }
    }
  }
}

.search-box {
  position: relative;
  width: 170px;

  input {
    border-radius: 15px;
    height: 27px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none !important;
    color: @green-color;
    &:hover {
      box-shadow: none;
      background: none;
      border: none;
      color: @orange-color;
    }

    i {
      padding-right: 0;
      color: inherit;
      top: 0;
    }
  }
}

.plone-navbar {
  background-color: #fff;
  min-height:auto;
  margin-bottom: 0;
  box-shadow: none;
  position: inherit;

  .container {
    width: auto;
  }

  .plone-navbar-collapse {
    .plone-navbar-nav {
      >li {
        &:hover {
          >a {
            background-color: #f8f8f8;
          }
          >.submenu {
            display: block;
            visibility: visible;
            opacity: 1;
          }
        }

        >a {
          color: @text-color;
          padding: 1.8em 1em;
          font-size: 16px;
          background-color: transparent;
        }

        .submenu {
          background-color: #f8f8f8 !important;
          top: 76px;
          left: 0;
          border: none;
          border-radius: 0;
          height: auto;
          box-shadow: none;
          float: none;
          min-width: 300px;
          box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.2);

          li:not(:last-child) {
            border-bottom: 1px solid #dcdcdc;
          }

          li {
            a {
              background-color: #f8f8f8;
              padding: 0.8em;
              color: @text-color;
              font-size: 14px;
              &:hover {
                background-color: #e8e8e8;
              }
            }

            .external-icon {
              margin-left: 3px;
              font-size: 12px;
            }

            .state-private {
              color: @text-color !important;
              >.submenu_title {
                position: relative;
              }
              >.submenu_title:after {
                content:"\e033";
                font-family: 'Glyphicons Halflings';
                position: absolute;
                top: 0;
                right: -20px;
                font-size: 12px;
              }
            }

            >.link-https {
              display: none;
            }
          }
        }
      }

      li.hasDropDown {
        >a:after {
          content:"\e259";
          font-family: 'Glyphicons Halflings';
          display: inline-block;
          font-size: 0.7em;
          margin-left: 5px;
        }
      }

      >.selected > a {
        color: @orange-color;
        font-weight: 600;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          height: 3px;
          background-color: @orange-color;
        }
      }
    }
  }

  .plone-navbar-toggle {
    background-color: @blue-color;
    border: none !important;

    .icon-bar::after {
      content:"\e236";
      font-family: 'Glyphicons Halflings';
      font-size: 18px;
    }
    .icon-bar + .icon-bar::after {
      content: "" !important;
    }
  }

  // responsive submenu
  .plone-navbar-collapse.in {
    position: absolute;
    left: 0;
    right: 0;
    background-color: @blue-color;
    z-index: 99;
    top: 78px;

    .plone-navbar-nav {
      display: block;
      box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
      background-color: @blue-color;

      li {
        >a {
          color: #fff;
          padding: 1em 0.5em;
        }

        .submenu {
          height: auto;
          top: -2px;
          width: 100%;
          display: none;

          li {
            >a {
              color: @text-color;
              white-space: normal;
              font-size: 13px;
              padding: 0.5em;
              &:hover {
                background-color: #fff;
              }
              .submenu_title {
                padding-left: 0;
              }
              .opener {
                display: none;
              }
            }
          }
        }

        .opener {
          display: block;
          margin-right: 0;
          .caret {
            margin-bottom: 0;
          }
        }

        .menu-open {
          display: block!important;
        }
      }

      li.hasDropDown {
        >a:after {
          content:"";
        }
      }

      li:hover > a {
        color: @blue-color;
        .opener {
          border: 1px solid @blue-color;
        }
      }

      >.selected > a {
        &:before {
          height: 0;
        }
      }
    }
  }
}

.header-container.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 8;
  margin-top: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  .search-wrapper {
    display: none;
  }
}

@media (max-width: 1350px) {
  .container {
    width: 100% !important;
  }

  .header-container {
    margin-top: 2.3em;
    position: relative;
    border-top: 1px solid #ddd;

    .logo-text {
      font-size: 14px !important;
    }

    .header-right-section {
      .login {
        position: absolute;
        top: -31px;
        right: 225px;
      }

      .search-wrapper {
        position: absolute;
        top: -31px;
        right: 25px;

        button {
          padding: 0;
          i {
            font-size: 14px;
            top: 3px;
            right: 8px;
          }
        }
        input {
          font-size: 13px;
          height: 23px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  #content-header {
    .header-container {
      .header-logo {
        width: 30%;
      }
      .header-right-section {
        width: 70%;
        display: block;

        #mainnavigation-wrapper {
          float: right;
        }
      }
    }
  }
}


@media (max-width: 980px) {
  #content-header {
    .container  {
      padding-right: 0;
    }

    .header-container {
      .logo-text {
        font-size: 12px !important;
      }

      .navbar-header {
        margin-right: 15px;
      }

      .header-logo {
        height: 60px;
      }
    }
  }

  .plone-navbar {
    .plone-navbar-collapse {
      .plone-navbar-nav {
        li {
          .submenu {
            top: 60px;
          }
          > a {
            font-size: 14px;
            padding: 1.5em 0.7em;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .plone-navbar {
    .plone-navbar-collapse.in {
      top: 58px;
      .opener {
        background: transparent;
        border: 1px solid #fff;
        border-radius: 4px;
        float: right;
        text-align: center;
        width: 32px;
        height: 32px;
        margin-top: -6.4px;
        margin-right: -11.2px;
      }
      .opener .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0;
        margin-bottom: 0.2em;
        vertical-align: bottom;
        border-top: 0.5em dashed;
        border-right: 0.5em solid transparent;
        border-left: 0.5em solid transparent;
        border-bottom: 0;
      }
    }
  }

  #content-header {
    .header-container {
      .header-logo,
      .header-right-section {
        width: auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .plone-toolbar-left #edit-zone {
    z-index: 99;
  }

  #edit-zone .plone-toolbar-logo,
  .plone-toolbar-expanded #edit-zone .plone-toolbar-logo {
    background-color: #92979a;
    border-radius: 4px;
    left: -102px;
    width: 38px;
    height: 38px;
    top: 46px;
    z-index: 9999;

    img {
      margin-top: 7px;
      right: 11px;
      position: relative;
    }
  }
}

@media (max-width: 480px) {
  #content-header {
    .header-container {
      .header-logo {
        .logo-title {
         font-size: 16px;
        }
      }
      .logo-text {
        padding: 1em 0;
        float: none;
        color: #fff;
        font-weight: bold;
        margin: 0 -5px 0;
      }
      .logo-text:hover {
        color: #fff;
      }
    }
  }
}
