.fc-button{
  color: white !important;
}
.fc-button-active {
  color: #bf5900 !important;
}
.fc-event-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}
.tooltip {
  z-index: 50000;
  position: absolute;
  color: white;
  background-color: #77828E;
  border: 1px solid;
  border-color: #2C3E50;
  padding: 7px;
  border-radius: 7px;
}
